<h1>ConfirmationMailer#confirm_registration</h1>

<p>
  <%= @greeting %>,
</p>

<div>
  Thank you for registering with <%= "CAN<i>WALK" %>! Select confirm to complete your registration.
  <%= link_to "Confirm", :controller => "authentication", :action => "confirmation", :confirm_token => @confirm_token %>
</div>

<div>
  If you did not register with us, we apologize. Select decline to remove yourself from our email list:
  <%= link_to "Decline", :controller => "authentication", :action => "decline", :confirm_token => @confirm_token %>
</div>
