<div class="confirm-email-container">
   <h1>ConfirmationMailer</h1>

   <div class="confirm" style="color:blue;">
      Thank you for registering with <span class="confirm-words">CAN</span><span class="confirm-symbols"><%="<i>"%></span><span class="confirm-words">WALK</span>! Select confirm to complete your registration.
      <div class="confirm-button">
         <%= link_to "Confirm", :controller => "authentication", :action => "confirmation", :confirm_token => @confirm_token %>
      </div>
   </div>

   <div class="decline">
     If you did not register with us, we apologize. Select decline to remove yourself from our email list:
     <div class="decline-button">
        <%= link_to "Decline", :controller => "authentication", :action => "decline", :confirm_token => @confirm_token %>
     </div>
   </div>
</div>
